
.slide-in {
  animation: moveInTop 0.5s ease-in;
}

.fade-in {
  animation: fadeIn 0.3s ease-in;
}

.quick-fade-in {
  animation: fadeIn 0.15s ease-in;
}

.slide-in-left {
  animation: moveInLeft 0.7s ease-in;
}

.slide-in-right {
  animation: moveInRight 0.7s ease-in;
}

.slide-in-left-small {
  animation: moveInLeftSmall 0.2s linear;
}

.small-pop {
  animation: small-pop 0.5s;
}

.pop {
  animation: pop 1s;
}

.quick-pop {
  animation: pop 0.3s;
}

.big-pop {
  animation: big-pop 0.5s;
}

.scale-in {
  animation: scale-in 0.15s;
}

.pulse {
  animation: pulse 1s infinite linear;
}
.pulse-slow {
  animation: pulse 2s infinite linear;
}

.pulse-once {
  animation: pulse 1s;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTopFade {
  0% {
    opacity: 1;
    transform: translate(-30px, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: scale(1.03) rotate(0deg);
  }

  75% {
    transform: rotate(-3deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes pulse-small {
  0% {
    transform: scale(1) rotate(0deg);
  }

  25% {
    transform: rotate(2deg);
  }

  50% {
    transform: scale(1.03) rotate(0deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes small-pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes big-pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes select {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveUp {
  3% {
    transform: translateY(-6px) scale(1.02);
  }
  0%,
  4%,
  100% {
    transform: translate(0) scale(1);
  }
}
