html,
body {
  overflow-x: hidden;
}

main {
  z-index: 100 !important;
  /* to make sure content is above bg */
}

#app {
  background: rgb(23, 49, 125);
  background-image: linear-gradient(
    142deg,
    rgb(4, 21, 71) 0%,
    rgb(16, 1, 24) 100%
  );
}

.shadow-bg {
  padding: 25px;
  border-radius: 50px;
  background-color: rgba(9, 9, 27, 0.274);
}

