html,
body {
  overflow-x: hidden;
}

main {
  z-index: 100 !important;
  /* to make sure content is above bg */
}

#app {
  background-color: #f2f3fc;
  background-image: url("https://www.transparenttextures.com/patterns/natural-paper.png");
}

.shadow-bg {
  padding: 25px;
  border-radius: 50px;
  background-color: rgba(9, 9, 27, 0.274);
}

