html,
body {
  overflow-x: hidden;
}

main {
  z-index: 100 !important;
  /* to make sure content is above bg */
}

#app {
  background-color: #19216b;
}

.shadow-bg {
  padding: 25px;
  border-radius: 50px;
  background-color: rgba(9, 9, 27, 0.274);
}

